@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <header>
            <h1 class="display-4"  style="color: blue">Welcome!</h1><br/>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY-1BUYI1D50s2EaBnK5hBqQ9dCj5-JMI3fQ&s" alt="Welcome">
        </header>
        <br/>
        <section class="main-content">
            <h2><b>Phone Directory</b></h2>
            <p>Welcome to our phone directory. You can store and access your phone numbers securely and organizedly. Please use our menus to edit existing contacts and add new ones.</p>
            <h3><b>Main Features:</b></h3>
            <ul>
                <li><b><em>Contact Addition:</em></b> Easy interface for adding new contacts.</li>
                <li><b><em>Contact Editing:</em></b> Edit and update your existing contacts.</li>
                <li><b><em>Contact Deletion:</em></b> Remove unwanted contacts from your directory.</li>
                <li><b><em>PDF Transactions:</em></b> You can easily download or print users information as PDF whenever you want.</li>
                <li><b><em>Security:</em></b> Keep your data safe and protect your personal information.</li>
            </ul>
        </section>
    </div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    header {
        text-align: center;
        margin-bottom: 20px;
    }

    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    .main-content {
        text-align: justify;
    }

    .main-content h2 {
        font-size: 24px;
    }

    .main-content h3 {
        font-size: 18px;
        margin-top: 20px;
    }

    .main-content ul {
        list-style-type: none;
        padding-left: 0;
    }

    .main-content ul li {
        margin-bottom: 10px;
    }

    .main-content ul li a {
        color: blue;
        text-decoration: none;
    }
</style>